{% extends 'base.html' %}
{% block title %}
    archives
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-sm-8 blog-main">
            {% if current_user.is_authenticated() %}
                {% for item in items %}
                    <div class="bs-example">
                        <a href="{{ url_for('main.a', id=item.id) }}">{{ item.title }}</a>
                        <a href="{{ url_for('main.unarchive', id=item.id, next=url_for('main.archives')) }}"><span
                                class="glyphicon glyphicon-plus" title="unarchive"></span></a>
                        {% if not item.is_star %}
                            <a href="{{ url_for('main.star', id=item.id, next=url_for('main.archives')) }}"><span
                                    class="glyphicon glyphicon-star-empty"></span></a>
                        {% else %}
                            <a href="{{ url_for('main.unstar', id=item.id, next=url_for('main.archives')) }}"><span
                                class="glyphicon glyphicon-star"></span></a>
                        {% endif %}
                        <a href="{{ url_for('main.delete', id=item.id, next=url_for('main.archives')) }}"><span
                                class="glyphicon glyphicon-trash"></span></a>
                    </div>
                    <div class="bs-example">
                        {% for tag in item.tags %}
                            <a href="{{ url_for('main.tag', name=tag.name) }}">
                                <span class="label label-info">{{ tag.name }}</span></a>
                        {% endfor %}
                        <span class="label label-primary">{{ item.domain }}</span>
                    </div>
                    <hr/>
                {% endfor %}
            {% else %}nothing{% endif %}
        </div>
    </div>
{% endblock %}