{% extends 'bootstrap/base.html' %}
{% block navbar %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Pocket</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.s') }}">Star</a></li>
                    <li><a href="#">Archives</a></li>
                </ul>
                <form class="navbar-form navbar-left" method="post" role="search" action="{{ url_for('main.query') }}">
                <div class="form-group">
                        {{ g.search_form.csrf_token }}
                        {{ g.search_form.keyword(size=20, class="form-control", placeholder="Search") }}
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated() %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('main.add') }}">Add</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Setting</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ url_for('main.login') }}">login</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

{% endblock %}
{% block content %}
    {% for msg in get_flashed_messages() %}
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ msg }}
        </div>
    {% endfor %}
    <div class="container">
        {% block main %}
        {% endblock %}
    </div>
{% endblock %}

