{% extends 'base.html' %}
{% block title %}
    index
{% endblock %}
{% block main %}
    <div class="container">

        <div class="row">
            <div class="col-sm-8 blog-main">{% if current_user.is_authenticated() %}
                {% for item in current_user.items %}<a href="{{ url_for('main.a', id=item.id) }}">{{ item.title }}</a>
                    <div class="bs-example">
                        {% for tag in item.tags %}<span class="label label-info">{{ tag.name }}</span>{% endfor %}<span
                                class="label label-primary">{{ item.domain }}</span>
                    </div>{% endfor %}{% else %}nothing{% endif %}


            </div>
            {% if current_user.is_authenticated() %}
                <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                {% for tag,count in current_user.get_tags() %}
                    <div class="bs-example">
                        <span class="glyphicon glyphicon-tag"></span><span
                            class="label label-info">{{ tag }}</span><span class="badge">{{ count }}</span></div>
                {% endfor %}{% else %}nothing{% endif %}
            </div>
        </div>

    </div>
{% endblock %}